.cache
.cargo/bin
.cargo
.config/chromium
.config/gh
.config/lazygit
.config/nvim
.config/pulse
.config/cros-garcon.conf
.config/weston.ini
.local/share/nvim
.local/state
.pki/nssdb
.rustup
.vim
Downloads
Projects/mlrs
.Xauthority
.bash_history
.bash_logout
.gitconfig
.profile
.sommelierrc
.viminfo
